body {
    /*background-image: url('../images/rainbow.jpg');
    background-size:cover;
    background-repeat:no-repeat;*/
    background-color:floralwhite;
    
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;    
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
    text-align:center;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #2eb82e;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }

    li{
        text-align:center;
        font-size:medium;
    }


