.videocontent {
    position: relative;
    display: inline-block;
   
}


 .videocontent::before {
        content: "";
        background-image: url('../images/dbck.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;       
    }

.videocontent1 {
    position: relative;
    display: inline-block;
}

    .videocontent1::before {
        content: "";
        background-image: url('../images/dark.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
    }


.pp
{
    color:white;
    text-align: center;
    background-color: black;
    opacity:0.55;
    margin:5px 0;
   
}

.counter {
    background-color: #f5f5f5;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: -4px 5px darkgrey;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: darkorange;
}


